{% extends "eco/base.html" %}
{% block content %}

    {% for item in category %}
        <div class="container">
            <div class="card-title m-2">
                {% if category %}
                <ul>
                    <li><h5>{{ item.name|title }}</h5>:<a class="btn-danger" href="{% url "eco:category_delete" item.slug %}">Delete</a>
                    </li>
                </ul>
                <br>
                {% endif %}
            </div>
        </div>



    {% endfor %}
{% endblock %}