{% extends "eco/base.html" %}
{% block title %}Ecommerce Home Page{% endblock %}
{% load bootstrap4 %}

{% block content %}
    <div class="container py-3 responsive">


    <h5 class="vTextField text-light">Please give a feedback for the refinement of our website.</h5>
        {% for items in feedback.feedback_set.all %}
            <div class="card mb-3 w-100">
                <div class="card-body">
                    <h5 class="card-title">{{ rate }} star{{ items.rate|pluralize }}</h5>
                    <p class="card-text">{{ items.feedback }}</p>
                    <p class="card-text">By : {{ items.user.username }}</p>
                </div>
                <div class="card-footer text-muted">
                    {{ items.created|timesince }} ago
                </div>
            </div>
        {% endfor %}

    <div class="row mb-5">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            <input type="submit" class="btn btn-danger">
        </form>
    </div>
    </div>
{% endblock %}
