{% extends "eco/base.html" %}
{% block content %}
    <div class="card">
    <div class="row">
    <div class="col-5">
    <div  class="card-header bg-warning">Delete product {{ products.name  }}?</div>
<div class="card-body">

<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
    <h2>Are you sure you want to remove {{ products.name }}?</h2>
    <button type="submit" class="btn-warning">Delete</button>
			<a class="btn-danger" href="{% url "eco:product_list_delete" %}">Cancel</a>

		</form>
</div>
    </div>
    </div>
    </div>
{% endblock %}